@import "variables.scss";
@import "components/index.scss";
@import "components/form.scss";
@import "components/blog.scss";
@import "components/post.scss";

html, body{
	// padding: 0;
	// margin: 0 auto;
	// width: 700px;
	/* max-width: 1200px; */

	font-family: 'Open Sans', Arial, sans-serif;
	@include basetext;
	color:black;
	max-width:1200px;
	margin:0 auto;
}
.clearfix:after{
	content:'';
	display:table;
	clear:both;
}
.logo{
	display:block;
	width:75px;
	height:25px;

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;

	// text-decoration:none;
	@media screen and (min-width:700px){
		width:150px;
		height:40px;
	}

	&--header{
		float:left;
		margin-left:6%;

		background-image:url('../img/logotype-white-mobile.svg');
		background-size:75px 25px;
		background-position:0 0;
		background-repeat:no-repeat;

		@media screen and (min-width:700px){
			background-image:url('../img/logotype-white-tablet.svg');
			background-size:150px 40px;
			background-position:0 0;
			background-repeat:no-repeat;
		}
		@media screen and (min-width:1200px){
			background-image:url('../img/logotype-white-desktop.svg');
			margin-left:10%;
		}
	}
	&--footer{
		width:150px;
		height:40px;
		background-image:url('../img/logotype-blue-tablet.svg');
		background-size:150px 40px;

		margin:0 auto 40px;
		@media screen and (min-width:700px){
			margin: 0 0 40px;
		}
		@media screen and (min-width:1200px){
			background-image:url('../img/logotype-blue-desktop.svg');
		}
	}
}

.top-menu{
	padding-top:20px;
	padding-bottom:20px;
	// padding-left:6%;
	// padding-right:6%;

	// width:88%;
	width:100%;
	background-color:transparentize(red,.7);
	// background-color:transparentize(black,0.7);

	position:relative;
}

.main-nav{
	// display:none;
	// margin-top:45px;
	background-color:$dark;

	position:absolute;
	top:65px;
	left:0;
	z-index:1;
	width:100%;

	display:none;

	@media screen and (min-width:700px){
		top:110px;
	}

	&--active{
		display:block;
	}
	&--active{
		display:block;
	}
	&__list{
		list-style:none;
		padding:0;
		margin:0;
		display:block;
	}
	&__item{
		font-size:$subheadlinetextsize;
		// line-height:1.778;
		line-height:1;
		font-weight:bold;
		text-align:center;

		width:100%;
		padding-top:20px;
		padding-bottom:20px;
		display:inline-block;

		border-top:2px solid #000101;
	}
	&__item a{
		color:$white;
		text-decoration:none;
		text-transform:uppercase;
	}
	&__item--active{
	}
	&__toggle{
		display:block;
		width:50px;
		height:25px;

		background-size:50px 25px;
		background-position:0 0;
		background-repeat:no-repeat;
		float:right;
		margin-right:6%;

		background-image:url('../img/menu-burger--white.svg');

		@media screen and (min-width:700px){
			margin-top:15px;
		}
		@media screen and (min-width:1200px){
			margin-right:10%;
		}
	}
	&__toggle--close{
		width:25px;
		background-size:25px 25px;

		background-image:url('../img/menu-cross--white.svg');
	}
	// &__toggle--burger{

	// }

}
/* 460 240 */
.header{
	width:100%;
	// background-color:$introdark;
	background-color:red;

	background-image: url('../img/background-mobile@1x.jpg');
	background-size: 700px auto;
	background-position: center 0;
	background-repeat: no-repeat;

	@media screen and (min-width:320px) and (min-resolution: 1.5dppx) {
		background-image: url('../img/background-mobile@2x.jpg');
	}
	@media screen and (min-width:320px) and (min-resolution: 3dppx) {
		background-image: url('../img/background-mobile@3x.jpg');
	}
	@media screen and (min-width:700px){
		background-image: url('../img/background-tablet@1x.jpg');
		background-size: 1200px auto;
	}
	@media screen and (min-width:700px) and (min-resolution: 1.5dppx) {
		background-image: url('../img/background-tablet@2x.jpg');
	}
	@media screen and (min-width:1200px){
		background-image: url('../img/background-fullsize.jpg');
		background-size: 1200px auto;
	}
}
.footer{
	&--indexpage{
		display:none;
	}
}
.social-icons{
	display:block;
	// width:100%;
	margin:0 auto 40px;
	font-size:0;

	text-align:center;

	&__icon{
		display:inline-block;
		vertical-align:top;
		margin-right:10px;
		width:50px;
		height:50px;

		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;

		border:3px solid #e9ebec;
		border-radius:50%;


		background-position:center center;
		background-repeat:no-repeat;
	}
	&__icon:last-child{
		margin-right:0px;
	}
	&__icon--tw{
		background-image:url('../img/twitter--colored.svg');
		background-size:17px 14px;
	}
	&__icon--fb{
		background-image:url('../img/facebook--colored.svg');
		background-size:9px 19px;
	}
	&__icon--yt{
		background-image:url('../img/youtube--colored.svg');
		background-size:14px 13px;
	}
}
.copyright{
	display:block;
	margin:0 auto 45px;
	font-size:0;

	text-align:center;

	&__text{
		display:inline-block;
		vertical-align:middle;

		margin-right:15px;

		font-size:14px;
		line-height:18px;
		color:$dark;
		@media screen and (min-width:1200px){
			font-size:18px;
		}
	}
	&__academylogo{
		display:inline-block;
		vertical-align:middle;

		width:27px;
		height:34px;

		// font-size:14px;
		// line-height:18px;

		// text-indent: 100%;
		// white-space: nowrap;
		// overflow: hidden;

		// background-image:url('../img/htmlacademy.svg');
		// background-size:27px 34px;
		// background-position:0 0;
		// background-repeat:no-repeat;
	}
	&__academylogo-svg{
		fill:red;
	}
}
@media screen and (min-width:700px){
	// .main-nav{
	// 	&__toggle{
	// 		margin-top:15px;
	// 	}
	// }
	.top-menu{
		padding-top:27px;
		padding-bottom:43px;
	}
	.header{
		&__wrapper{
			padding-top:80px;
			padding-bottom:85px;
		}
		&__headline{
			font-size:50px;
			line-height:1.2;
			font-weight:300;
		}
	}
	.footer{
		width:88%;
		margin:0 auto;

		display:flex;
		flex-direction:row;
		justify-content:space-between;
		align-items:center;
	}
	.social-icons{
		margin-left:0;
		margin-right:0;
	}
	.copyright{
		margin-left:0;
		margin-right:0;
	}
}
@media screen and (min-width:1200px){
	// .logo-link{
	// 	background-image:url('../img/logotype-white-desktop.svg');

	// 	&--black{
	// 		background-image:url('../img/logotype-blue-desktop.svg');
	// 	}
	// }
	.header{
		&__wrapper{
			padding-top:75px;
			// padding-bottom:85px;
		}
	}
	.footer{
		width:78%; /* 78% */
	}
}
