@import "variables.scss";
@import "normalize.scss";
@import "components/index.scss";
@import "components/form.scss";
@import "components/blog.scss";
@import "components/post.scss";

html, body{
	font-family: 'Open Sans', Arial, sans-serif;
	@include basetext;
	color:black;
	margin:0 auto;
}
.wrapper{
	max-width:1200px;
	margin:0 auto;
}
.clearfix:after{
	content:'';
	display:table;
	clear:both;
}
.logo{
	display:block;
	width:75px;
	height:25px;

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;

	@media screen and (min-width:700px){
		width:150px;
		height:40px;
	}

	&--header{
		float:left;
		margin-left:6%;

		background-image:url('../img/logotype-white-mobile.svg');
		background-size:75px 25px;
		background-position:0 0;
		background-repeat:no-repeat;

		@media screen and (min-width:700px){
			background-image:url('../img/logotype-white-tablet.svg');
			background-size:150px 40px;
			background-position:0 0;
			background-repeat:no-repeat;
		}
		@media screen and (min-width:1200px){
			background-image:url('../img/logotype-white-desktop.svg');
			margin-left:10%;
		}
	}
	&--header:hover{
		background-image:url('../img/logotype-white-mobile--hover.svg');

		@media screen and (min-width:700px){
			background-image:url('../img/logotype-white-tablet--hover.svg');
		}
		@media screen and (min-width:1200px){
			background-image:url('../img/logotype-white-desktop--hover.svg');
		}
	}
	&--header:focus{
		background-image:url('../img/logotype-white-mobile--focus.svg');

		@media screen and (min-width:700px){
			background-image:url('../img/logotype-white-tablet--focus.svg');
		}
		@media screen and (min-width:1200px){
			background-image:url('../img/logotype-white-desktop--focus.svg');
		}
	}
	&--footer{
		width:150px;
		height:40px;
		background-image:url('../img/logotype-blue-tablet.svg');
		background-size:150px 40px;

		margin:0 auto 40px;
		@media screen and (min-width:700px){
			margin: 0 0 40px;
		}
		@media screen and (min-width:1200px){
			background-image:url('../img/logotype-blue-desktop.svg');
		}
	}
	&--footer:hover{
		background-image:url('../img/logotype-blue-tablet--hover.svg');

		// @media screen and (min-width:700px){
		// 	background-image:url('../img/logotype-blue-tablet--hover.svg');
		// }
		@media screen and (min-width:1200px){
			background-image:url('../img/logotype-blue-desktop--hover.svg');
		}
	}
	&--footer:focus{
		background-image:url('../img/logotype-blue-tablet--focus.svg');

		// @media screen and (min-width:700px){
		// 	background-image:url('../img/logotype-blue-tablet--focus.svg');
		// }
		@media screen and (min-width:1200px){
			background-image:url('../img/logotype-blue-desktop--focus.svg');
		}
	}
}

.top-menu{
	padding-top:20px;
	padding-bottom:20px;
	width:100%;
	background-color:transparentize(black,0.7);

	//border-bottom:1px solid transparentize(black,0.7);

	position:relative;

	&--active{
		// box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.15),
		// 						0px 1px 0px 0px rgba(0, 0, 0, 1);
		// border-bottom:1px solid rgba(0, 0, 0, 1);
		// outline:1px solid rgba(255, 255, 255, 0.15);
		background-color:#283645;

		// border-bottom:1px solid #000101;
		//border-top:1px solid #485461;
		// border-bottom:1px solid #485461;
		box-shadow: 0px 2px 0px 0px #485461,
								0px 1px 0px 0px #000101;
	}

	@media screen and (min-width:700px){
		padding-top:27px;
		padding-bottom:43px;
	}
}

.main-nav{
	background-color:$dark;

	position:absolute;
	top:67px;
	left:0;
	z-index:1;
	width:100%;

	display:none;

	@media screen and (min-width:700px){
		top:112px;
	}

	@media screen and (min-width:1200px){
		position:static;
		z-index:0;
		width:50%;
		display:block;

		float:right;
		margin-right:10%;

		font-size:0;

		background-color:transparent;
	}

	&--active{
		display:block;
	}
	&__list{
		list-style:none;
		padding:0;
		margin:0;
		display:block;
		@media screen and (min-width:1200px){
			width:100%;
			text-align:right;
		}
	}
	&__item{
		font-size:$subheadlinetextsize;
		// line-height:1.778;
		line-height:1;
		font-weight:bold;
		text-align:center;

		width:100%;
		padding-top:20px;
		padding-bottom:20px;
		display:inline-block;

		//border-bottom:1px solid #000101;
		//border-top:1px solid #485461;
		// box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.15),
		// 						0px 1px 0px 0px rgba(0, 0, 0, 1);
		box-shadow: 0px 2px 0px 0px #485461,
								0px 1px 0px 0px #000101;

		@media screen and (min-width:1200px){
			display:inline-block;
			//width:25%;
			width:auto;
			border:none;
			padding-left:70px;
			box-shadow:none;

			text-align:right;
		}
	}
	//&__item:hover{
		//border-bottom:1px solid white;
	//}
	&__item a{
		color:$white;
		text-decoration:none;
		text-transform:uppercase;
		padding-bottom:5px;

		@media screen and (min-width:1200px){
			text-transform:none;
			font-weight:normal;
		}
	}
	&__item a:hover{
		color: #d22856;
		@media screen and (min-width:1200px){
			color:$white;
			border-bottom:1px solid white;
		}
	}
	&__item a:focus{
		color: rgba(210,40,86,0.3);
		@media screen and (min-width:1200px){
			color:rgba(255,255,255,0.3);
			border:none;
		}
	}

	// &__item--active{
	// }
	&__toggle{
		display:block;
		width:50px;
		height:25px;

		background-size:50px 25px;
		background-position:0 0;
		background-repeat:no-repeat;
		float:right;
		margin-right:6%;

		background-image:url('../img/menu-burger.svg');

		@media screen and (min-width:700px){
			margin-top:15px;
		}
		@media screen and (min-width:1200px){
			display:none;
		}
	}
	&__toggle:hover{
		background-image:url('../img/menu-burger--hover.svg');
	}
	&__toggle:focus{
		background-image:url('../img/menu-burger--focus.svg');
	}
	&__toggle--close{
		width:25px;
		background-size:25px 25px;

		background-image:url('../img/menu-cross.svg');
	}
	&__toggle--close:hover{
		background-image:url('../img/menu-cross--hover.svg');
	}
	&__toggle--close:focus{
		background-image:url('../img/menu-cross--focus.svg');
	}
}

.header{
	width:100%;
	background-color:$introdark;
	// background-color:red;

	background-image: url('../img/background-mobile@1x.jpg');
	background-size: 700px auto;
	background-position: center 0;
	background-repeat: no-repeat;

	@media screen and (min-width:320px) and (min-resolution: 1.5dppx) {
		background-image: url('../img/background-mobile@2x.jpg');
	}
	@media screen and (min-width:320px) and (min-resolution: 3dppx) {
		background-image: url('../img/background-mobile@3x.jpg');
	}
	@media screen and (min-width:700px){
		background-image: url('../img/background-tablet@1x.jpg');
		background-size: 1200px auto;
	}
	@media screen and (min-width:700px) and (min-resolution: 1.5dppx) {
		background-image: url('../img/background-tablet@2x.jpg');
	}
	@media screen and (min-width:1200px){
		background-image: url('../img/background-fullsize.jpg');
		background-size: 100% auto;
	}
	// &__wrapper{
	// 	@media screen and (min-width:700px){
	// 		padding-top:80px;
	// 		padding-bottom:85px;
	// 	}
	// }
}
.map{
	position:relative;

	&:before{
		content:'';
		position:absolute;
		width:100%;
		height:50%;
		top:0;
		left:0;

		z-index:1;

		background-image:url('../img/triangle-white-footer.svg');
		background-size:100% auto;
		background-position: 0 0;
		background-repeat: no-repeat;
	}
	&__marker{
		display:none;

		position:absolute;
		width:18px;
		height:18px;
		top:50%;
		left:50%;

		//z-index:1;

		background-image:url('../img/map-marker.svg');
		background-size:18px 18px;
		background-position: 0 0;
		background-repeat: no-repeat;
	}
}
.footer{
	&--indexpage{
		display:none;
	}
	@media screen and (min-width:700px){
		width:88%;
		margin:0 auto;
		padding-top:35px;
		display:flex;
		flex-direction:row;
		justify-content:space-between;
		align-items:center;
	}
	@media screen and (min-width:1200px){
		width:78%;
	}
}
.social-icons{
	display:block;
	margin:0 auto 40px;
	font-size:0;

	text-align:center;
	@media screen and (min-width:700px){
		margin-left:0;
		margin-right:0;
	}

	&__icon{
		display:inline-block;
		vertical-align:top;
		margin-right:10px;
		width:50px;
		height:50px;

		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;

		border:3px solid #e9ebec;
		border-radius:50%;

		background-position:center center;
		background-repeat:no-repeat;
	}
	&__icon:hover{
		border-color:$dark;
	}
	&__icon:focus{
		//border-color:$dark;
		opacity:0.3;
	}
	&__icon:last-child{
		margin-right:0px;
	}
	&__icon--tw{
		background-image:url('../img/twitter--colored.svg');
		background-size:17px 14px;
	}
	&__icon--fb{
		background-image:url('../img/facebook--colored.svg');
		background-size:9px 19px;
	}
	&__icon--yt{
		background-image:url('../img/youtube--colored.svg');
		background-size:14px 13px;
	}
}
.copyright{
	display:block;
	margin:0 auto 45px;
	font-size:0;

	text-align:center;

	@media screen and (min-width:700px){
		margin-left:0;
		margin-right:0;
	}

	&__text{
		display:inline-block;
		vertical-align:middle;

		margin-right:15px;

		font-size:14px;
		line-height:18px;
		color:$dark;

		@media screen and (min-width:1200px){
			font-size:18px;
		}
	}
	&__academylogo{
		display:inline-block;
		vertical-align:middle;

		width:27px;
		height:34px;

		font-size:14px;
		line-height:18px;

		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;

		background-image:url('../img/htmlacademy.svg');
		background-size:27px 34px;
		background-position:0 0;
		background-repeat:no-repeat;
	}
	&__academylogo:hover{
		background-image:url('../img/htmlacademy--hover.svg');
	}
	&__academylogo:focus{
		background-image:url('../img/htmlacademy--focus.svg');
	}
}