.blog{
  width:100%;

  padding-top:10px;
}
.blogpost-preview{

  width:88%;
  display:block;
  margin:0 auto;
  border-bottom:1px solid #e5e5e5;

  &__headline{
    font-size:$subheadlinetextsize;
    line-height:1.5;
    font-weight:bold;
    text-align:left;
    color:$dark;

    margin-top:25px;
    margin-bottom:10px;
  }
  &__date{
    font-size:12px;
    line-height:1; /*2.25*/
    color:$red;
    text-transform:uppercase;

    margin-top:0;
    margin-bottom:30px;
  }
  &__description{
    font-size:$basetextsize;
    line-height:1.93;
    color:$dark;

    margin-top:0;
    margin-bottom:25px;
  }
}
.blogpost-preview:nth-last-child(2){
  border-bottom:none;
}
.paginator{
  list-style:none;
  font-size:0;
  padding-left:0px;
  padding-top:25px;
  // padding-bottom:30px;

  width:88%;
  display:block;
  margin:0 auto 60px;

  &__item{
    display:inline-block;
    vertical-align:top;
    margin-right:8px;

    border:2px solid #e5e5e5;
    border-radius:1px;

    @include formlabel;
    line-height:60px;
    width:60px;
    text-align:center;
    color:$dark;
    a{
      color:$dark;
      text-decoration:none;

      padding:15px 24px;

    }
    span{
      // @include formlabel;

      padding:15px 24px;
      // border:2px solid #e5e5e5;
      // border-radius:1px;
    }
  }
  &__item:last-child{
    margin-right:0;
  }
  &__item--active{
    border-color:$red;

  }
}