.blog{
  width:100%;

  padding-top:10px;
}
.blogpost-preview{

  width:88%;
  display:block;
  margin:0 auto;
  border-bottom:1px solid #e5e5e5;

  &__mark{
    display:none;
  }
  &__headline{
    // display:inline-block;
    // vertical-align:top;

    font-size:$subheadlinetextsize;
    line-height:1.5;
    font-weight:bold;
    text-align:left;
    color:$dark;

    margin-top:25px;
    margin-bottom:10px;
  }
  &__date{
    font-size:12px;
    line-height:1; /*2.25*/
    color:$red;
    text-transform:uppercase;

    margin-top:0;
    margin-bottom:30px;
  }
  &__description{
    font-size:$basetextsize;
    line-height:1.93;
    color:$dark;

    margin-top:0;
    margin-bottom:25px;
  }
}
.blogpost-preview:nth-last-child(2){
  border-bottom:none;
}
.paginator{
  padding-left:0px;
  padding-top:25px;
  // padding-bottom:30px;

  width:88%;
  display:block;
  margin:0 auto 60px;

  &__mark{
    display:none;
  }
  ul{
    list-style:none;
    font-size:0;
    padding-left:0;
  }
  &__item{
    display:inline-block;
    vertical-align:top;
    margin-right:8px;

    border:2px solid #e5e5e5;
    border-radius:1px;

    @include formlabel;
    line-height:60px;
    width:60px;
    text-align:center;
    color:$dark;
    a{
      color:$dark;
      text-decoration:none;

      padding:15px 24px;

    }
    span{
      // @include formlabel;

      padding:15px 24px;
      // border:2px solid #e5e5e5;
      // border-radius:1px;
    }
  }
  &__item:last-child{
    margin-right:0;
  }
  &__item--active{
    border-color:$red;

  }
}

@media screen and (min-width:700px){
  .blog{
    padding-top:45px;
  }
  .blogpost-preview{
    border-bottom:2px dotted #e5e5e5;
    display:inline-block;
    vertical-align:top;
    width:80%;

    &__mark{
      display:inline-block;
      vertical-align:top;

      margin-top:51px;
      margin-right:30px;
      margin-left:40px;

      width:28px;
      height:26px;
      background-image:url('http://placehold.it/28x26');
    }
    &__headline{
      font-size:27px;
      line-height:1;

      margin-top:50px;
      margin-bottom:15px;
    }
    &__date{
      font-size:14px;
      line-height:1;

      margin-bottom:35px;
      // margin-left:60px;
    }
    &__description{
      font-size:18px;
      line-height:1.667;

      margin-bottom:45px;
      // margin-left:60px;
    }
  }
  .paginator{
    display:inline-block;
    vertical-align:top;
    width:80%;

    &__mark{
      display:inline-block;
      vertical-align:middle;

      margin-top:42px;
      margin-left:40px;
      margin-right:20px;

      font-size:18px;
      line-height:30px;
      color:$dark;
      font-weight:bold;
      text-transform:uppercase;
    }
  }
}
@media screen and (min-width:700px){
  .blog{
    padding-top:20px;
  }
  .blogpost-preview{
    width:73%;

    &__mark{
      margin-left:10%;
      margin-top:56px;
    }
    &__headline{
      margin-top:55px;
      margin-bottom:20px;
    }
  }
  .paginator{
    width:73%;

    &__mark{
      display:inline-block;
      vertical-align:middle;

      // margin-top:42px;
      margin-left:10%;
      // margin-right:20px;
    }
  }
}