.blog{
  width:100%;


}
.blog-wrapper{
  width:88%;
  display:block;
  margin:0 auto 25px;

  padding-top:10px;
  @media screen and (min-width:700px){
    padding-top:40px;
  }
  @media screen and (min-width:1200px){
    padding-top:70px;
  }
}
.blogpost-preview{

  width:100%;
  display:block;
  margin:0 auto 25px;

  // border-bottom:1px solid #e5e5e5;

  &__wrapper{
    border-bottom:1px solid #e5e5e5;
  }
  &__headline{
    // display:inline-block;
    // vertical-align:top;

    font-size:$subheadlinetextsize;
    line-height:1.5;
    font-weight:bold;
    text-align:left;
    color:$dark;

    // margin-top:25px;
    margin-top:0;
    margin-bottom:10px;
  }
  &__date{
    font-size:12px;
    line-height:1; /*2.25*/
    color:$red;
    text-transform:uppercase;

    margin-top:0;
    margin-bottom:30px;
  }
  &__description{
    font-size:$basetextsize;
    line-height:1.93;
    color:$dark;

    margin-top:0;
    margin-bottom:25px;
  }
  // hr
  // {
  //   color:#e5e5e5;
  //   margin-top:0;
  //   margin-bottom:0;
  // }
  &:last-child{
    margin-bottom:50px;
    // border:none;
    .blogpost-preview__wrapper{
      border:none;
    }
  }
}
// .blogpost-preview:last-child {
//   margin-bottom:50px;
// }
// .blogpost-preview:last-child hr{
//   display:none;
// }
.paginator{
  padding-left:0px;
  padding-top:25px;
  // padding-bottom:30px;

  width:88%;
  display:block;
  margin:0 auto 60px;
  font-size:0;

  &__mark{
    display:none;
  }
  ul{
    list-style:none;
    font-size:0;
    padding-left:0;
  }
  &__item{
    display:inline-block;
    vertical-align:top;
    margin-right:8px;

    border:2px solid #e5e5e5;
    border-radius:1px;

    @include formlabel;
    line-height:60px;
    width:60px;
    text-align:center;
    color:$dark;
    a{
      color:$dark;
      text-decoration:none;

      padding:15px 24px;

    }
    span{
      // @include formlabel;

      padding:15px 24px;
      // border:2px solid #e5e5e5;
      // border-radius:1px;
    }
  }
  &__item:last-child{
    margin-right:0;
  }
  &__item--active{
    border-color:$red;

  }
}

@media screen and (min-width:700px){
  .blog{
    padding-top:45px;
  }
  .blog-wrapper{
    width:88%;
    // display:block;
    // margin:0 auto 25px;
  }
  .blogpost-preview{
    background-image:url('../img/blog-post-icon--colored.svg');
    background-size:28px 27px;
    background-position:0 6px;
    background-repeat:no-repeat;

    &__wrapper{
      width:80%;
      margin-left:10%;

      border-bottom:1px dotted #e5e5e5;
    }
    &__headline{
      font-size:27px;
      line-height:30px;

      // margin-top:50px;
      margin-bottom:15px;
    }
    &__date{
      font-size:14px;
      line-height:1;

      margin-bottom:35px;
      // margin-left:60px;
    }
    &__description{
      font-size:18px;
      line-height:1.667;

      margin-bottom:45px;
      // margin-left:60px;
    }
    // hr{
    //   width:80%;
    //   margin-left:10%;
    // }
  }
  .paginator{
    width:88%;

    &__mark{
      display:inline-block;
      vertical-align:middle;
      width:10%;

      margin-top:21px;
      // margin-left:40px;
      // margin-right:20px;

      font-size:18px;
      line-height:30px;
      color:$dark;
      font-weight:bold;
      text-transform:uppercase;
    }
    ul{
      display:inline-block;
      vertical-align:top;
      width:80%;
    }
  }
}
@media screen and (min-width:1200px){
  .blog{
    padding-top:20px;
  }
  .blog-wrapper{
    width:78%;
    // display:block;
    // margin:0 auto 25px;
  }
  .blogpost-preview{

    margin-bottom:55px;

    &__wrapper{
      width:86%;
      margin-left:7%;
    }
    // &__mark{
    //   margin-left:10%;
    //   margin-top:56px;
    // }
    &__headline{
      // margin-top:55px;
      margin-bottom:20px;
    }
    // hr{
    //   width:86%;
    //   margin-left:7%;
    // }
  }
  .paginator{
    width:78%;

    &__mark{
      // display:inline-block;
      // vertical-align:middle;
      // margin-left:10%;
      width:7%;
    }
  }
}
// @media screen and (min-width:700px){
//   .blogpost-preview{
//     &__mark{
//       display:block;
//     }
//   }
//   .paginator{
//     &__mark{
//       display:block;
//       font-size:18px;
//       line-height:30px;
//       color:$dark;
//       font-weight:bold;
//       text-transform:uppercase;
//     }
//   }
// }
