.intro{
  width:100%;
  background-color:$introdark;
  background-image:url('');

  &__headline{
    @include headlinetext;

    color:$white;
  }
  &__applink{
    font-size:$subheadlinetextsize;
    line-height:1;
    font-weight:bold;

    text-decoration:none;
    text-align:center;
    color:$white;

    display:block;
    width:87.5%;
    padding-top:15px;
    padding-bottom:15px;
    margin:0 auto;
    border:3px solid white;
    border-radius:25px;
  }
  &__applications{
  }
  &__application{
  }
  &__application--ios{
  }
  &__application--android{
  }
  &__application--windows8{
  }
  &__paragraph{
    @include basetext;
    font-weight:300;
    color:$white;

    text-align:center;
  }
}
.information{
  width:100%;
  background-color:$lightbg;
  background-image:url('');

  &__headline{
    @include headlinetext;

    color:$dark;
  }

  &__subheadline{
    font-size:$subheadlinetextsize;
    line-height:1.333;
    font-weight:bold;

    text-align:center;
  }
  &__paragraph{
    @include basetext;
    color:$dark;

    text-align:center;
  }
}

.reviews{
  width:100%;

  &__review{
  }
  &__review-headline{
    font-size:$subheadlinetextsize;
    line-height:1.667;
    display:block;
    font-weight:bold;
    text-align:center;
  }
  &__review-paragraph{
    font-size:$basetextsize;
    line-height:1.667;
    color:$dark;
    text-align:center;
  }
  &__review{
    display:none;
  }

  input[type="radio"]{
    display:none;
  }

  &__controls{
    display:block;
    margin:0 auto;
  }
  &__controls label{
    display: inline-block;
    vertical-align:top;

    width: 6px;
    height: 6px;
    margin-right:13px;
    background: $label-inner;
    cursor: pointer;
    border: 3px solid $white;
    border-radius: 50%;
  }
  &__controls label:last-child{
    margin-right:0;
  }
  #btn-1:checked ~ &__controls label[for="btn-1"],
  #btn-2:checked ~ &__controls label[for="btn-2"],
  #btn-3:checked ~ &__controls label[for="btn-3"]{
    background-color: $white;
    border-color:$dark;
  }

  #btn-1:checked ~ &__controls label[for="btn-2"],
  #btn-1:checked ~ &__controls label[for="btn-3"],
  #btn-2:checked ~ &__controls label[for="btn-1"],
  #btn-2:checked ~ &__controls label[for="btn-3"],
  #btn-3:checked ~ &__controls label[for="btn-1"],
  #btn-3:checked ~ &__controls label[for="btn-2"]{
    background-color: $label-inner;
    border-color:$white;
  }
  #btn-1:checked ~ &__review--2,
  #btn-1:checked ~ &__review--3{
    display:none;
  }
  #btn-1:checked ~ &__review--1{
    display:block;
  }
  #btn-2:checked ~ &__review--1,
  #btn-2:checked ~ &__review--3{
    display:none;
  }
  #btn-2:checked ~ &__review--2{
    display:block;
  }
  #btn-3:checked ~ &__review--1,
  #btn-3:checked ~ &__review--2{
    display:none;
  }
  #btn-3:checked ~ &__review--3{
    display:block;
  }
}

.price{
  width:100%;
  background-color:$lightbg;
}
.price-table{

  overflow:hidden;

  &__head{
  }
  &__headcell{
    background-color:$dark;
    width:87.5%;
  }
  &__headcell:nth-child(1){
    display:none;
  }
  &__headcell:nth-child(3){
    display:none;
  }
  &__headcell-apptype{
    font-size:$subheadlinetextsize;
    line-height:1.667;
    font-weight:bold;
    color:$white;
    text-align:center;
    text-transform:uppercase;
  }
  &__headcell-appprice{
    font-size:$headlinetextsize;
    line-height:1.25;
    font-weight:300;
    color:$white;
    text-align:center;
  }
  &__headcell--hit{
    background-image:url('');
  }
  &__body{
  }
  &__row{
  }
  &__cell{
    width:87.5%;

    font-size:$basetextsize;
    line-height:2.143;
    color:$dark;
    background-color:$white;
    text-transform:uppercase;
  }
  &__cell:nth-child(1){
    display:none;
  }
  &__cell:nth-child(3){
    display:none;
  }
  &__cell--yes{
    background-image:url('');
  }
  &__cell--no{
    background-image:url('');
  }
}

.contacts{
  width:100%;

  &__headline{
    @include headlinetext;

    color:$dark;
  }
  &__subheadline{
    font-size: $subheadlinetextsize;
    line-height:1.167;
    font-weight:bold;
    color:$dark;

    text-align: center;
  }
  &__link{
    @include headlinetext;

    color:$red;

    display:block;
  }
  &__map{
    width:100%;
  }
}
