.blogpost{
  width:100%;

  font-size:14px;
  line-height:1.929;

  &__wrapper{
    padding-top:35px;
    width:88%;
    display:block;
    margin:0 auto 30px;

    hr{
      margin-top:0;
      margin-bottom:35px;
    }
  }
  &__headline{
    font-size:30px;
    line-height:1.2;
    color:$dark;
    margin-top:0;
    margin-bottom:25px;
    font-weight:bold;
    text-align:center;
  }
  &__date{
    font-size:12px;
    line-height:2.25;
    color:$red;
    text-transform:uppercase;
    text-align:center;

    margin-top:0;
    margin-bottom:10%;
  }
  &__description{
    font-size:16px;
    line-height:1.6875;
    color:$dark;
    text-align:center;

    display:block;
    // padding-bottom:25px;
    // border-bottom:1px solid #e5e5e5;
    margin-top:0;
    margin-bottom:30px;
  }
  &__subheadline{
    @include formlabel;
    font-weight:bold;
    text-transform:uppercase;
    // padding-top:35px;
    margin-top:0;
    margin-bottom:30px;
  }
  &__paragraph{
    color:$dark;
    margin-top:0;
    margin-bottom:40px;
  }
  &__paragraph a{
    color:$red;
  }
  &__ulist{
    display:block;
    padding-left:6%;
    margin-top:0;
    margin-bottom:0;

    // font-size:14px;
    // line-height:1.929;
    color:$dark;
    // list-style-type:disc;
    li{
      // display:block;
      margin-top:0;
      margin-bottom:30px;
    }
  }
  &__quote{
    font-size:14px;
    line-height:1.929;
    color:$dark;

    display:block;
    margin:0 0 45px 0;
    padding-left:20px;
    border-left:2px solid $red;
  }
  &__quote-author{
    // font-size:14px;
    // line-height:1.929;

    font-style: italic;
    color:#8a8a8a;
    display:block;
  }
  &__navigation{
    display:block;
    width:100%;
    margin:0 auto 40px;
    // font-size:0;
  }
  &__navigation-link{
    @include formlabel;
    font-weight:bold;
    text-decoration:none;
    text-align:center;
    text-transform:uppercase;
    color:$dark;

    display:block;
    // display:inline-block;
    // vertical-align:top;
    // margin-bottom:20px;

    padding-top:20px;
    padding-bottom:20px;
    border:2px solid #e5e5e5;
    border-radius:1px;

  }
  &__navigation-link--prev{
    width: 45%; /*126*/
    // margin-right:20px;

    float:left;
  }
  &__navigation-link--next{
    width: 45%;
    // margin-right:0;

    float:right;
  }
  &__navigation-link--back{
    width:99%; /*276 */
    margin:20px auto 0;

    float:right;
    // float:none;
  }
}
@media screen and (min-width:700px){
  .blogpost{

    &__wrapper{
      padding-top:85px;
      position:relative;

      hr{
        display:none;
      }
    }
    &__headline{
      margin-bottom:35px;
      font-size:50px;
      line-height:1.2;
    }
    &__date-description-wrapper{
      display: flex;
      flex-direction: column;
    }
    &__date{
      // position:absolute;
      // top:390px;

      order:2;

      background-color:white;
      display:inline-block;
      vertical-align:middle;
      width:100%;
      margin-bottom:50px;

      font-size:14px;
      line-height:30px;
    }
    &__date:after{
      content: "";


      top: -15px;
      // z-index: 1;

      display:inline-block;
      vertical-align:middle;
      border-bottom: 1px dotted #e5e5e5;
      width:25%;
      margin-left:25px;
    }
    &__date:before{
      content: "";

      top: -15px;
      // z-index: 1;

      display:inline-block;
      vertical-align:middle;
      border-bottom: 1px dotted #e5e5e5;
      width:25%;
      margin-right:25px;
    }
    &__description{
      order:1;

      margin-bottom:40px;
      font-size:24px;
      line-height:40px;
    }
    &__subheadline{
      font-size:24px;
      line-height:30px;
    }
    &__paragraph{
      font-size:18px;
      line-height:30px;
      margin-bottom:65px;
    }
    &__ulist{
      font-size:18px;
      line-height:30px;
      padding-left:3%;

      li{
        padding-left:25px;
        margin-bottom:45px;
      }
    }
    &__quote{
      font-size:18px;
      line-height:30px;
      padding-left:35px;
    }
    &__quote-author{
      font-size:18px;
      line-height:30px;
    }
    &__navigation{
      display:flex;
      flex-direction: row;
      align-items:center;
      justify-content: space-between;
    }
    &__navigation-link{
      float:none;
    }
    &__navigation-link--prev{
      width: 22%;
      // margin-right:5%;

      // float:left;
      order:1;
    }
    &__navigation-link--next{
      width: 22%;
      // margin-right:0;

      // float:right;
      order:3;
    }
    &__navigation-link--back{
      width:48%;
      // margin-right:5%;
      // margin:0;
      // float:left;
      margin-top:0;
      order:2;
    }
  }
}
@media screen and (min-width:1200px){
  .blogpost{

    &__wrapper{
      padding-top:110px;
      width:68%;
    }
    &__date{
      // top:360px;
    }
    &__date:before{
      width:31%;
    }
    &__date:after{
      width:31%;
    }
    &__description{
      // margin-bottom:140px;
    }
    &__navigation{
      margin-bottom:55px;
    }
    &__navigation-link--prev{
      width: 31%;
      margin-right:2%;
      // float:left;
    }
    &__navigation-link--next{
      width: 31%;
      // margin-right:0;

      // float:right;
    }
    &__navigation-link--back{
      width:31%;
      margin-right:2%;

      // float:left;
    }
  }
}
